/*
Author: Ryan Hendrickson
Date: January 7th, 2018.
Filename: master.css
Purpose: Make our Tea Shoppe page not look so terrible as a plain html page can look.
*/
body {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	display: block;
	font-size: 3em;
	font-weight: 800;
}

label {
	font-size: 1.25em;
}

.formRestraints {
	font-size: 90%;
	color: #999;
}
